@using DdhpCore.FrontEnd.Models.Api.Read
@model IEnumerable<ClubApi>

@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
<div>
    <h3>Clubs</h3>
    @foreach (var club in Model)
    {
        <div>@Html.ActionLink(club.ClubName, "Index", "ClubSeasons", new {year = 2016, name = club.ClubName})</div>
    }
</div>