@model DdhpCore.FrontEnd.Models.ViewModels.ResultsViewModel

@{
    ViewBag.Title = $"Results {Model.RoundYear} {Model.RoundNumber}";
    Layout = "_Layout";
}

<div>
    @foreach (var fixture in Model.Fixtures)
    {
        <table>
            <thead>
                <tr>
                    <th colspan="7">@fixture.Home</th>
                    <th colspan="6"><%= result.AwayTeamName %></th>
                </tr>
                <tr>
                    <th>Position</th>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Played</th>
                    <th>F</th>
                    <th>M</th>
                    <th>R</th>
                    <th>T</th>
                    <th>Player</th>
                    <th>Score</th>
                    <th>Played</th>
                    <th>F</th>
                    <th>M</th>
                    <th>R</th>
                    <th>T</th>
                </tr>
            </thead>
            <tbody>
                <% for (int i = 0; i < 11; i++)
                {
                DDHP.Core.DomainObjects.DDHPRoundPlayer homePlayer = Model.GetPlayerAtPosition(result, DDHPMVC.Models.ViewModels.ResultsViewModel.HomeOrAway.Home, i);
                DDHP.Core.DomainObjects.DDHPRoundPlayer awayPlayer = Model.GetPlayerAtPosition(result, DDHPMVC.Models.ViewModels.ResultsViewModel.HomeOrAway.Away, i);
                %>
                <tr>
                    <td><%= homePlayer.PickedPosition %></td>
                    <td><%= homePlayer.Player.DisplayName %></td>
                    <td><%= homePlayer.Score %></td>
                    <td><%= homePlayer.PlayedPosition %></td>
                    <td><%= homePlayer.Statline.ForwardScore %></td>
                    <td><%= homePlayer.Statline.MidfieldScore%></td>
                    <td><%= homePlayer.Statline.RuckScore%></td>
                    <td><%= homePlayer.Statline.TackleScore%></td>
                    <td><%= awayPlayer.Player.DisplayName %></td>
                    <td><%= awayPlayer.Score %></td>
                    <td><%= awayPlayer.PlayedPosition %></td>
                    <td><%= awayPlayer.Statline.ForwardScore %></td>
                    <td><%= awayPlayer.Statline.MidfieldScore %></td>
                    <td><%= awayPlayer.Statline.RuckScore %></td>
                    <td><%= awayPlayer.Statline.TackleScore %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    }
</div>